<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My First Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>263720E41EF6ED1B00A513C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>263720FE1EF6ED1C00A513C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>263721091EF6ED1C00A513C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
